body {
  background-image: url(asset/raindrops.jpg);
  background-position: center;
  background-size: cover;
}
.renderPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
  background: rgba(153, 35, 175, 0.5);
}

h2 {
  text-align: center;
  color: blanchedalmond;
}
#input {
  margin-left: 43%;
  margin-bottom: 5px;
}
